In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\av959\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\av959\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\av959\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\av959\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\av959\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\av959\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('insurance.csv')

In [11]:
# Preview Data
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
# check missing values 
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [13]:
# Check duplicate data
df.duplicated().sum()

np.int64(1)

In [14]:
# Data type
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [15]:
# Unique values in categorical columns
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [16]:
# Value range check
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [17]:
# String formatting issues
df['sex'].str.strip().unique()

array(['female', 'male'], dtype=object)

In [18]:
# Overall completeness of the dataset
total_cells = df.size
missing_cells = df.isnull().sum().sum()

completeness_percentage = ((total_cells - missing_cells) / total_cells) * 100
completeness_percentage

np.float64(100.0)

In [19]:
# column - wise completeness
(1 - df.isnull().mean()) * 100

age         100.0
sex         100.0
bmi         100.0
children    100.0
smoker      100.0
region      100.0
charges     100.0
dtype: float64